
\.DS_Store

venv/

api/models/__pycache__/

api/models/__init__\.py

api/models/__init__\.pyc

api/models/boleto\.pyc

api/models/buyer\.pyc

api/models/card\.pyc

api/models/payment\.pyc

api/resources/__pycache__/

*.pyc
